/*------------------------------RAZ------------------------------*/
*{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6, p{margin: 0; padding: 0;font-weight: normal;}
ul{margin: 0; padding: 0; list-style: none;}
a{outline: none; color: #262219; text-decoration:none;}
a img{border:none;}
:focus{-moz-outline-style: none;}
fieldset{border:none; margin: 0; padding: 0;}
input{vertical-align: middle; color:#262219; font-family:'Open Sans', arial; font-size:13px;}
textarea{color:#262219; font-family:'Open Sans', arial; font-size:13px;}
header, footer, section, aside, nav, article, figure, hgroup{display:block;}


/*----------------------------COMMUN------------------------------*/
.clear{clear:both; display:block; line-height:1px; font-size:1px; height:1px;}
.clearfix{*zoom: 1;}
.clearfix:after{content: "."; display: block; height: 0; clear: both; visibility: hidden;}
*, *:before, *:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.none{display:none;}
.left{float:left;}
.right{float:right;}
.center{width:940px; margin:0 auto; position:relative;}

.content h1{font-family: 'Neuton', georgia; font-size:36px; line-height:36px; margin-bottom:25px;}
.content h2{font-family: 'Neuton', georgia; font-size:26px; line-height:36px; margin-bottom:25px;}


/*----------------------------HEADER------------------------------*/
/*--gestion des cookies*/
.info-top{background:#b7d00d; font-size:12px; padding:12px 0;}
.info-top p{float:left; padding:3px 0 0 0;}
.info-top form{float:right;}
.info-top form input{background:#fff; font-size:12px; font-weight:bold; border:none; padding:3px 12px; display:inline-block; margin-right:20px;}
.info-top form a{color:#fff; text-decoration:underline;}

#header{background:#fff url(../images/bg-menu.gif) 0 142px repeat-x; position:relative;}
#header #hgroup{width:266px; height:142px; text-indent:-5000; background:url(../images/logo-mercialys.png) no-repeat;}
#header #hgroup h1, #header #hgroup h2{text-indent:-5000px;}
#header form{position:absolute; top:66px; right:0; border:1px solid #e8e8e8; width:486px; height:34px; padding:0 0 0 29px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
#header form #text-head{width:408px; height:31px; line-height:31px; border:none; float:left;}
#header form #valid-head{float:right;}

#header #nav-top{position:absolute; left:374px; top:0; border-top:1px solid #e7e7e7; border-left:1px solid #e7e7e7;	border-bottom:1px solid #e7e7e7;}
#header #nav-top li{float:left; text-transform:uppercase; font-size:12px;}
#header #nav-top li a{display:block; width:142px; height:35px; font-weight:600; line-height:35px; border-right:1px solid #e7e7e7;}
#header #nav-top li#nav-top-presse a{padding-left:65px; background:url(../images/nav-top-presse.png) 39px center no-repeat;}
#header #nav-top li#nav-top-carriere a{padding-left:54px; background:url(../images/nav-top-carriere.png) 30px center no-repeat;}
#header #nav-top li#nav-top-contact a{padding-left:54px; background:url(../images/nav-top-contact.png) 32px center no-repeat;}

#header #langue{position:absolute; right:0; top:0;}
#header #langue a{float:left; text-transform:uppercase; font-size:12px; display:block; color:#e2e1e1; padding:0 13px; height:26px; line-height:24px; border:1px solid #e7e7e7; font-weight:600}
#header #langue a:last-child, #header #langue a:last-child:hover,
#header #langue a:last-child.selected{border-left:none;}
#header #langue a:hover,
#header #langue a.selected{background:#a3bc04; color:#fff; border:1px solid #a3bc04;}

#header #nav-site{}
#header #nav-site .first-level{height:48px; font-size:12px; text-transform:uppercase;}
#header #nav-site .first-level li{float:left;}
#header #nav-site .first-level li a{color:#fff; display:block; height:48px; line-height:48px; padding:0 17px; font-weight:bold;}
#header #nav-site .first-level li a:hover,
#header #nav-site .first-level li a.selected{background:#b7d00d; color:#262219;}

/*---------------------FOOTER-----------------------------------------------*/
#social-bottom{position:relative; padding:79px 0 37px 0; margin-top:50px; background:url(../images/bg-bois-top.jpg) repeat-x 0 0;}
#social-bottom .oiseaux{position:absolute; top:-29px; left:50%; margin-left:-68px; width:137px; height:31px; background:url(../images/oiseaux.png) no-repeat;}
.bottom-home #social-bottom{margin-top:70px; padding:0; background:none;}
#social-bottom li{float:left; width:235px; height:85px;}
#social-bottom li#sb-linkedin{background:#403527;}
#social-bottom li#sb-viadeo{background:#332a1f;}
#social-bottom li#sb-twitter{background:#241e16;}
#social-bottom li#sb-facebook{background:#18140e;}
#social-bottom li .titre-social{text-align:center; padding-top:20px; color:#fff; text-transform:uppercase; font-size:12px;}
#social-bottom li#sb-linkedin a,
#social-bottom li#sb-viadeo a,
#social-bottom li#sb-twitter a{display:block; height:85px; width:235px; text-align:center; font-size:12px; text-transform:uppercase; padding-top:20px; color:#fff;}

#social-bottom li#sb-linkedin a{background:url(../images/social-linkedin.png) center 42px no-repeat;}
#social-bottom li#sb-viadeo a{background:url(../images/social-viadeo.png) center 40px no-repeat;}
#social-bottom li#sb-twitter a{background:url(../images/social-twitter.png)  center 44px no-repeat;}

#footer{ position:relative; background:url(../images/bg-footer.gif) repeat; padding:15px 0 0 0; }
#footer .bg-pinces { position:absolute; top:-20px; background:url('../images/bg-pinces.png') center 0px no-repeat; height:44px; width:100%; }
#footer .top-footer-left, #footer .top-footer-middle, #footer .top-footer-right { display:block; float:left; padding:0 0 50px 0; }
#footer .top-footer-middle, #footer .top-footer-right { padding-left: 55px; }
#footer .top-footer ol {  margin:0 50px 0 0; min-height:110px }
#footer .top-footer ol li { color:#fff; font:12px "Open Sans", "Arial"; list-style:none; line-height:26px; }
#footer .top-footer ol li.title { font:700 14px "Open Sans", "Arial"; color:#b7d00d; line-height:28px; }
#footer .top-footer ol li a { color:#fff;  }

#footer .bottom-footer { background:#0b0805; position:fixed; bottom:0; width:100%; z-index:10;}
#footer .foot-bourse, #footer .foot-slider, #footer .foot-social { float:left; }
#footer .bottom-footer .foot-bourse { color:#fff; height:50px; padding:6px 0 0 0; }
#footer .bottom-footer .foot-bourse p { float:left; font:600 12px "Open Sans", "Arial"; margin:4px 20px 0 0; }
#footer .bottom-footer .foot-bourse div { float:right; margin:0 20px 0 0; font:700 18px "Open Sans", "Arial"; }
#footer .bottom-footer .foot-bourse #foot-bourse-value { color:#fff; }
#footer .bottom-footer .foot-bourse #foot-bourse-cote { display:block; color:#b7d00d; font:600 12px "Open Sans", "Arial"; text-align:right; }
#footer .bottom-footer .foot-slider { background:#332a1f; width:615px; height:50px; }
#footer .bottom-footer .foot-slider marquee { font:600 12px "Open Sans", "Arial"; color:#fff; line-height:50px; }
#footer .bottom-footer .foot-slider marquee p { display:inline; margin-right:600px; }
#footer .bottom-footer .foot-slider marquee p:last-child { margin-right:0; }
#footer .bottom-footer .foot-slider marquee span { color:#b7d00d }
#footer .bottom-footer .foot-social { padding:10px 0 0 20px; }
#footer .foot-social li, #footer .foot-social li a { width:28px; height:28px; float:left; }
#footer .foot-social li .foot-social-rss { background:url('../images/social-sprite.jpg') no-repeat 0 0; }
#footer .foot-social li .foot-social-linkedin { background:url('../images/social-sprite.jpg') no-repeat 0 -28px; }
#footer .foot-social li .foot-social-viadeo { background:url('../images/social-sprite.jpg') no-repeat 0 -56px; }
#footer .foot-social li .foot-social-twitter { background:url('../images/social-sprite.jpg') no-repeat 0 -84px; }
#footer .foot-social li .foot-social-facebook { background:url('../images/social-sprite.jpg') no-repeat 0 -110px; }
/*------------------------------structure générale------------------------------*/
body{font-size: 14px; font-family:'Open Sans', arial; font-weight:400; color:#262219; background:#f6f6f6;}
body p{font-weight:400;}

#ariane{margin:0 0 22px 0;}
#ariane ul li{display:inline; color:#8e8c87; font-size:11px;}
#ariane ul li a{display:inline; color:#8e8c87; text-decoration:underline;}
#ariane ul li span{color:#262219;}
/*-----------------2 col---------------*/
#left-content{width:600px; float:left; padding:30px 0 0 0;}
#right-content{width:300px; float:right; padding:15px 0 0 0;}




